@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&family=Open+Sans&family=Poppins&display=swap');

.bdy{
 width: 100%;
 height: 100%;
/* background-image: url(./img/iitg.jpg) */
}
.main{


position: relative;
top:  -12vh;
left: 25vw;


}

#pr2
{
margin-top: 1rem;
margin-left: 5rem;


}
#pr1
{
margin-top: 20rem;
margin-left: 5rem;

}
#qy
{
margin-left: 5rem;


}
#btn
{

margin-left: 5rem;

}


.body1{

margin-left: 600px;
margin-top: 3rem;
display: flex;
flex-direction: column;


}
.header{
margin-top: 8rem;
margin-left: 32rem;
font-family: 'Fira Sans Extra Condensed', sans-serif;
font-size: 5rem;

}
.bottom{

position: relative;
align-items: center;
column-gap: 2rem;

}
.btn{

position: relative;
top: 5em;

}
.pr{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    position: relative;
    left: 0.5em;

}

.qy{


    font-family: 'Fira Sans Extra Condensed', sans-serif;
}